*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    height: 625px;
    
}

.Main-form{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: white;
    border: 2px solid #4C57B6;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: #4C57B6;
    font-weight: bold;
}
.Main-form .logo img{
    margin: 20px;
    position: relative;
    bottom: 35px;
}
.Main-form .Paragraph p{
    position: relative;
    bottom: 30px;
}
.form .Input-1{
    width: 300px;
    position: relative;
    bottom: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
}
.form .Input-2{
    width: 300px;
    position: relative;
    left: 10px;
    margin-top: 30px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
}
.form .Toggle-icon{
    position: relative;
    right: 15px;
}
.form .Tonew button{
    width: 300px;
    background-color: #4C57B6;
    border: 2px solid #4C57B6;
    border-radius: 3px;
    color: white;
    margin-top: 35px;
}




